<div class="container">
  <div class="row">
    <div class="col-md-12">
      <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label for="email">Email</label>
              <input type="text" formControlName="email" class="form-control">
              <div *ngIf="email.touched && email.invalid" class="alert alert-danger">
                <div *ngIf="email.errors.required">Email is required</div>
               

              </div>
            </div>
            <div class="form-group">
              <label for="firstName">First Name</label>
              <input type="text" formControlName="firstName" class="form-control">
              <div *ngIf="firstName.touched && firstName.invalid" class="alert alert-danger">
                <div *ngIf="firstName.errors.required">First name is required</div>
                <div *ngIf="firstName.errors.cannotContainNumbers">Name cannot contain numbers</div>

              </div>
            </div>
            <div class="form-group">
              <label for="lastName">Last Name</label>
              <input type="text" formControlName="lastName" class="form-control">
              <div *ngIf="lastName.touched && lastName.invalid" class="alert alert-danger">
                <div *ngIf="lastName.errors.required">Last name is required</div>
              </div>
            </div>
            <div class="form-group">
              <label for="email">Email</label>
              <input type="text" formControlName="email" class="form-control">
              <div *ngIf="email.touched && email.invalid" class="alert alert-danger">
                <div *ngIf="email.errors.required">Email is required</div>
                <div *ngIf="email.errors.invalidEmail">Invalid email</div>
              </div>
            </div>
            <div class="form-group">
              <label for="phone">Phone</label>
              <input type="text" formControlName="phone" class="form-control">
              <div *ngIf="phone.touched && phone.invalid" class="alert alert-danger">
                <div *ngIf="phone.errors.required">Phone is required</div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <h2>Adress</h2>
            <button (click)="addAdress()">Add</button>

            <div formArrayName="adress" *ngFor="let a of registerForm.controls.adress?.value; let i = index">
              <ng-container [formGroupName]="i">
                <div class="form-group">
                  <label for="city">City</label>
                  <input type="text" formControlName="city" class="form-control">

                </div>
                <div class="form-group">
                  <label for="street">Street</label>
                  <input type="text" formControlName="street" class="form-control">

                </div>
                <div class="form-group">
                  <label for="zipCode">Zip-Code</label>
                  <input type="text" formControlName="code" class="form-control">

                </div>
              </ng-container>
            </div>











            <div class="form-group">
              <label for="password">Password</label>
              <input #pass type="password" formControlName="password" class="form-control">
              <div *ngIf="password.touched && password.invalid" class="alert alert-danger">
                <div *ngIf="password.errors.required">Password is required</div>
                <div *ngIf="password.errors.minlength">Password should be minimum
                  {{password.errors.minlength.requiredLength}} characters</div>
              </div>
            </div>
            <div class="form-group" *ngIf="pass.value.length>=5">
              <label for="retype">Retype Password</label>
              <input type="password" formControlName="retype" class="form-control">
              <div *ngIf="retype.touched && retype.invalid" class="alert alert-danger">
                <div *ngIf="retype.errors.required">Please retype your password</div>
                <div *ngIf="retype.errors.passwordsShouldMatch" class="alert alert-danger">
                  Passwords do not match.
                </div>
              </div>
            </div>
          </div>
        </div>
        <button #signup [disabled]="registerForm.invalid" class="btn btn-primary" type="submit">Sign Up</button>
      </form>

    </div>
  </div>
  <div class="row" *ngIf="registered">
    <div class="col-md-6 offset-md-3">
      <div class="alert alert-success" role="alert">
        User successfuly registrated! Now redirecting to login page
      </div>
    </div>
  </div>



  <!--TEST FORM-->
  <!-- <form [formGroup]="testForm">


    <h2>Credentials</h2>
    <button (click)="addCreds()">Add</button>

    <div formArrayName="credentials" *ngFor="let creds of testForm.controls.credentials?.value; let i = index">
      <ng-container [formGroupName]="i">
        <input placeholder="Username" formControlName="username">
        <input placeholder="Password" formControlName="password">
      </ng-container>
    </div>


  </form> -->
</div>