/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
html, body {
    font-family: 'Muli';
     background: rgb(2, 0, 36);
     color:white;
}

